<nav>
  <ul>My dishes
    <li>

      <a href="">omelette</a>
      <img class="mydishes_img" src="assets/img/omlet.jpg" alt="">
    </li>
    <li>
      <a href="">oatmeal</a>
      <img class="mydishes_img" src="assets/img/oatmeal.jpg" alt="">
    </li>
    <li>
      <a href="">lentil cutlets</a>
      <img class="mydishes_img" src="assets/img/lentil cutlets.jpg" alt="">
    </li>
    <li>
      <a href="">millet porridge</a>
      <img class="mydishes_img" src="assets/img/millet porridge.jpg" alt="">
    </li>
    <li>
      <a href="">cheese pancake</a>
      <img class="mydishes_img" src="assets/img/sheese pancake.jpg" alt="">
    </li>
  </ul>
</nav>
